<div class="hero login">
    <div class="cover">
        <div class="flex-card login-card">
            <div class="inner-card">
                <h2 class="text-bold dark-text pt-2 has-text-centered">Log in</h2>
                <form action="/admin/login" method="POST">
                    <div class="field">
                        <div class="control pt-2">
                            <input class="input is-primary" type="text" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control pt-2">
                            <input class="input is-primary" type="password" placeholder="Password" required>
                        </div>
                    </div>

                    <div class="pt-2 pb-20">
                        <button class="button rounded raised " type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
        <img class="bottom-cloud" src="../img/wavy-dark.png" />
    </div>
    <div class="bottom">

    </div>


</div>
